@media only screen and (max-width: 800px) {

    .contaienr {
        max-width: 90vw;
    }

    /* Top navigation */

    .search-box,
    .seller,
    .verticl-dots {
        display: none;
    }

    .up-container {
        gap: 1rem;
    }

    .h3-tag{
        font-size: 1.5rem;
    }

    .sp-name{
        font-size: 1.2rem;
    }

    .sp-price{
        font-size: 1rem;
    }



    /* Electronic section */

    .electronics {
        display: block;
    }

    .electro-ad {
        display: none;
    }

    .none{
        display: none;
    }


    /* shop love grid */

    .different-grid{
        grid-template-columns: auto;
    }
}