@media only screen and (max-width: 800px) {

    .contaienr {
        max-width: 90vw;
    }

    /* Top navigation */

    .search-box,
    .seller,
    .verticl-dots {
        display: none;
    }

    .up-container {
        gap: 1rem;
    }



    /* Electronic section */

    .electronics {
        display: block;
    }

    .electro-ad {
        display: none;
    }

    .electro-slid :nth-child(3),
    .electro-slid :nth-child(4),
    .electro-slid :nth-child(5) {
        display: none;
    }

}