@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  /* background-color: #f5e4e4; */
  font-family: "Inter", sans-serif;
  /* background-color: #f5e4e4; */
}

section {
  margin: 1rem 0;
}

.main-container {
  background-color: rgb(241, 242, 244);
  width: 100%;
}

.contaienr {
  max-width: 70vw;
  margin: auto;
}



/* Electronic slider section */

.electronics {
  width: 100%;
  display: grid;
  grid-template-columns: 80% 20%;
  /* display: flex;
    justify-content: space-between; */
  /* background-color: white; */
  gap: 1rem;
  /* padding: 1rem 0; */
}

.electro {
  background-color: white;
  padding: 1rem 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}

.title span {
  background-color: blue;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #cdb9b9;
  gap: 2rem;
  padding: 2rem 0;
  height: 255px;
  cursor: pointer;
}

.card-item:hover{
  -webkit-box-shadow: 0px 2px 18px -5px rgba(128, 128, 128, 1);
  -moz-box-shadow: 0px 2px 18px -5px rgba(128, 128, 128, 1);
  box-shadow: 0px 2px 18px -5px rgba(128, 128, 128, 1);
  transform: scale(1.1);
}

.card-item > img {
  width: 100px;
}

.electro-ad {
  width: fit-content;
}

.electro-ad img {
  width: 100%;
  height: 100%;
}

.txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.electro-slid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  /* border: 1pc solid red; */
  margin: 1rem;
}

/* Grid section */

.different-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 0.5rem;
}

.grid-bx {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-img img {
  width: 100%;
  height: 100%;
}

/* Big grid section */

.big-ad-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 1rem 0;
  gap: 1rem;
}

