@media only screen and (max-width: 800px) {
  .contaienr {
    max-width: 90vw;
  }

  /* Electronic section */

  .electronics {
    display: block;
  }

  .electro-ad {
    display: none;
  }

  .none {
    display: none;
  }

  /* shop love grid */

  .different-grid {
    grid-template-columns: auto;
  }

  .big-ad-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Footer section */

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .left-foot {
    gap: 1rem;
    border-right: none;
    border-bottom: 1px solid #454d5e;
  }

  .bottom-foot {
    gap: 1rem;
  }
}
