*{
    margin: 0;
    padding: 0;
}

.logn-main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
    background-color: #fff;
    width: 100%;
}

.heading{
    font-size: 1rem;
    border-bottom: 1px solid black;
}

.login-container{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 7px 0px #878787;
    width: 50%;
    margin: 2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.input-container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.input-item{
    border-bottom: 1px solid #878787;
}

.input-item input{
    border: none;
    padding: 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}

.input-container a{
    text-decoration: none;
    font-size: 0.7rem;
}

.login-btn{
    width: 7rem;
    margin: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    background-color: #878787;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}